<div class="tasks-page-wrap">
  <h1 class="tasks-page-header">To do list</h1>
  <div class="tasks-page-task-creator">
    <input
      class="tasks-page-task-creator__task-name tasks-page-task-creator__item"
      type="text"
      placeholder="Task name"
      [formControl]="tasks.controls['name']"
    />
    <select
      class="tasks-page-task-creator__task-status tasks-page-task-creator__item"
      [formControl]="tasks.controls['status']"
    >
      <option>No status</option>
      <option>To do</option>
      <option>In progress</option>
      <option>Done</option>
    </select>
    <input
      class="tasks-page-task-creator__task-completion-time tasks-page-task-creator__item"
      type="date"
      [formControl]="tasks.controls['completionTime']"
    />
    <button class="tasks-page-task-creator__add-task" (click)="addTask()">
      Add task
    </button>
  </div>
  <app-tasks-list></app-tasks-list>
</div>
