*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  height: 100vh;
  background-color: aquamarine;
}

.header {
  text-align: center;
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 2.5rem;
}

.main {
  width: 30%;
  margin: 0 auto;
}

.task-creator {
  width: 100%;
  min-width: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.task-creator__inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.task-creator__add-file {
  cursor: pointer;
  text-transform: lowercase;
}

.tasks-list {
  border-radius: 10px;
  width: 100%;
  background-color: #ffffff;
  padding: 30px 20px;
  margin-top: 10px;
}

.task {
  border-radius: 0.2rem;
  align-items: center;
  justify-content: space-between;
  border: 0.1rem solid #939697;
  cursor: pointer;
  background-color: #c5e1e6;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem 0.5rem;
  display: flex;
}

.task > * {
  margin: 0 0.7rem;
}

.tasks-list__task-file {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.tasks-list__delete-task {
  cursor: pointer;
  background-color: aquamarine;
}
